<div class="container education__grid">
  <div>
    <p class="section__eyebrow">05 / Education</p>
    <h2 class="section__title">Academic background</h2>
    <div class="edu-card">
      <h3>BSc (Hons) Computer Science &amp; Informatics &mdash; First Class Honours</h3>
      <p class="edu-card__org">London South Bank University, UK &middot; 2022 &ndash; 2025</p>
      <ul>
        <li>Strong focus on data systems, software engineering, and analytical computing.</li>
        <li>Relevant modules: Data Mining &amp; Analysis, Database Systems, Software Engineering, Professional Practice.</li>
      </ul>
    </div>
  </div>
  <div>
    <p class="section__eyebrow">06 / Certifications &amp; Awards</p>
    <h2 class="section__title">Recognition</h2>
    <ul class="cert-list">
      <li><span>School of Engineering Award for Student Creativity</span><time>Dec 2024</time></li>
      <li><span>Certificate of Excellence &mdash; Data Analyst Internship Programme, Uptrail</span><time>Aug 2025</time></li>
      <li><span>Python Data Visualisation: Dashboards with Plotly &amp; Dash</span><time>May 2025</time></li>
      <li><span>Data Analysis: SQL, Tableau, Power BI &amp; Excel &mdash; Real Projects</span><time>Oct 2024</time></li>
      <li><span>Python for Data Analysis and Visualisation</span><time>Sept 2024</time></li>
    </ul>
  </div>
</div>
